<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <span class="caption-subject bold theme-font-color uppercase">New Snippet</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <f:translate id="snippet.create">Thank you for sharing your Snippet</f:translate></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
