{namespace snippets=Flowpack\Snippets\ViewHelpers}
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 blog-page">
                <div class="row">
                    <div class="col-md-12 article-block">
                        <h3>{post.title}</h3>
                        <div class="blog-tag-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-inline blog-tags">
                                        <li>
                                            <i class="fa fa-folder-open"></i>
                                            <f:link.action action="search" arguments="{category: post.category.name}" controller="Search">{post.category.name}</f:link.action>
                                        </li>
                                        <li>
                                            <i class="fa fa-tags"></i>
                                            <f:for each="{post.tags}" as="tag" iteration="iterator">
                                                <f:link.action action="search" arguments="{tag: tag.name}" controller="Search">{tag.name}</f:link.action>
                                            </f:for>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 blog-tag-data-inner">
                                    <ul class="list-inline">
                                        <li>
                                            <i class="fa fa-calendar"></i>
                                            <f:translate id="post.date" arguments="{0: post.date}"><![CDATA[{0,datetime,date,short}]]</f:translate>
                                        </li>
                                        <f:if condition="{post.author.name.alias}">
                                            <li>
                                                <i class="fa fa-user fa-fw"></i>
                                                <f:link.action action="search" arguments="{author: post.author.name.alias}" controller="Search">{post.author.name.alias}</f:link.action>
                                            </li>
                                        </f:if>
                                        <li>
                                            <i class="fa fa-comments fa-fw"></i>
                                            <f:link.action action="show" controller="post" arguments="{post: post}" section="comments">{post.numberOfComments}</f:link.action>
                                        </li>
                                        <li>
                                            <i class="fa fa-eye fa-fw"></i>{post.numberOfViews}
                                        </li>
                                        <li>
                                            <i class="fa fa-thumbs{f:if(condition:post.upVote, then: '', else: '-o')}-up fa-fw"></i>{post.numberOfVotes}
                                        </li>
                                        <li>
                                            <i class="fa fa-star{f:if(condition:post.favorite, then: '', else: '-o')} fa-fw"></i>{post.numberOfFavorites}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <f:if condition="{post.description}">
                                <p>{post.description}</p>
                            </f:if>
                            {post.content -> snippets:parsedown()}
                            <f:if condition="{post.url}">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p>
                                            <f:link.external uri="{post.url}" target="_blank"><f:if condition="{{snippets:elastica(object:post, property:'providerIcon')}}"><img src="{snippets:elastica(object:post, property:'providerIcon')}" width="16"/></f:if>
                                                {post.providerName} {post.url}
                                            </f:link.external>
                                        </p>
                                        <f:if condition="{snippets:elastica(object:post, property:'code')}">
                                            <f:then>
                                                    <div class="embed-responsive embed-responsive-4by3">
                                                        <f:format.raw>{snippets:elastica(object:post, property:'code')}</f:format.raw>
                                                    </div>
                                            </f:then>
                                            <f:else>
                                                <f:if condition="{post.capture}">
                                                    <snippets:image resource="{post.capture}" type="thumbnail" options="{size: {width:800, height:600}, start: {0:0, 1:0}, mode: 'outbound'}" class="img-responsive" alt="{post.title}"/>
                                                </f:if>
                                            </f:else>
                                        </f:if>
                                    </div>
                                </div>
                            </f:if>
                        </div>
                        <hr />
                        <div class="blog-social-share">
                            <ul class="list-inline">
                                <snippets:security.ifAuthenticated providerName="FrontendProvider">
                                    <f:then>
                                        <li><a href="#" class="button secondary"><i class="jq-up fa fa-thumbs{f:if(condition:post.upVote, then: '', else: '-o')}-up" style="cursor: pointer" data-post="{post -> f:format.identifier()}" data-csrf-token="{f:security.csrfToken()}"></i></a> <span class="jq-upVotes">{post.numberOfUpVotes}</span></li>
                                        <li><a href="#" class="button secondary"><i class="jq-down fa fa-thumbs{f:if(condition:post.downVote, then: '', else: '-o')}-down" style="cursor: pointer"  data-post="{post -> f:format.identifier()}" data-csrf-token="{f:security.csrfToken()}"></i></a> <span class="jq-downVotes">{post.numberOfDownVotes}</span></li>
                                        <li><a href="#" class="button secondary"><i class="jq-favor fa fa-star{f:if(condition:post.favorite, then: '', else: '-o')}" style="cursor:pointer" data-post="{post -> f:format.identifier()}" data-csrf-token="{f:security.csrfToken()}"></i></a> <span class="jq-favorites">{post.numberOfFavorites}</span></li>
                                    </f:then>
                                    <f:else>
                                        <li><a href="#"><i class="jq-up fa fa-thumbs-o-up" style="cursor: pointer"></i></a> <span class="jq-upVotes">{post.numberOfUpVotes}</span></li>
                                        <li><a href="#"><i class="jq-down fa fa-thumbs-o-down" style="cursor: pointer"></i></a> <span class="jq-downVotes">{post.numberOfDownVotes}</span></li>
                                        <li><a href="#"><i class="jq-favor fa fa-star-o" style="cursor:pointer"></i></a> <span class="jq-favorites">{post.numberOfFavorites}</span></li>
                                    </f:else>
                                </snippets:security.ifAuthenticated>
                            </ul>
                        </div>
                        <f:if condition="{post.options.share}">
                            <div id="socialshareprivacy"></div>
                        </f:if>
                        <f:if condition="{post.comments}">
                            <hr />
                            <h3 class="title"><f:translate id="post.comments" arguments="{0: post.numberOfComments}" quantity="{post.numberOfComments}"></f:translate></h3>
                            <f:for each="{post.comments}" as="comment" key="flowidentifier" iteration="commentIterator" reverse="TRUE">
                                <div class="media row">
                                    <div class="media-body col-md-12">
                                        <h4 class="media-heading">{comment.author.name.alias} <span><f:translate id="comment.date" arguments="{0: comment.date}"></f:translate></span></h4>
                                        <p><f:format.nl2br>{comment.content}</f:format.nl2br></p>
                                    </div>
                                </div>
                            </f:for>
                        </f:if>
                        <hr />
                        <div class="post-comment">
                            <snippets:security.ifAuthenticated providerName="FrontendProvider">
                                <f:then>
                                    <h3><f:translate id="comment.reply">Leave a Reply</f:translate>:</h3>
                                    <f:form action="create" arguments="{post: post}" controller="Comment" object="{newComment}" name="newComment" class="form newcomment" section="comments">
                                        <f:render partial="Textarea" arguments="{label: '{f:translate(id: \'form.comment\', value: \'Comment\')}', property: 'content', object: 'comment', rows: '8', class: 'col-md-10 form-control'}" />
                                        <f:form.submit value="{f:translate(id: 'form.submit.comment', value: 'Add Comment')}" class="margin-top-20 btn theme" />
                                    </f:form>
                                </f:then>
                                <f:else>
                                    <h3><f:translate id="comment.login">Login to add your comment</f:translate>:</h3>
                                    <f:render partial="Login" arguments="{arguments: {post: post}}" />
                                </f:else>
                            </snippets:security.ifAuthenticated>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function ($) {
        var identifier = '{post -> f:format.identifier()}';
        var csrfToken = '{f:security.csrfToken()}';
        $.ajax({
            type: 'POST',
            url: '/Post/countViews',
            data: {post: identifier, __csrfToken: csrfToken},
            dataType: 'json'
        });
    });
</script>