<ul class="dropdown-menu">
    <li class="external">
        <h3><span class="bold">{count} pending</span> notifications</h3>
        <a href="extra_profile.html">view all</a>
    </li>
    <li>
        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
            <f:for each="{events}" key="key" as="numberOfEvents">
                <li>
                    <a href="javascript:;">
                        <span class="details">
                    <f:switch expression="{key}">
                        <f:case value="user.followed"><i class="fa fa-user fa-fw"></i></f:case>
                        <f:case value="post.created"><i class="fa fa-code fa-fw"></i></f:case>
                        <f:case value="post.voted.up"><i class="fa fa-thumbs-o-up fa-fw"></i></f:case>
                        <f:case value="post.voted.down"><i class="fa fa-thumbs-o-down fa-fw"></i></f:case>
                        <f:case value="post.favored"><i class="fa fa-star-o fa-fw"></i></f:case>
                        <f:case value="comment.created"><i class="fa fa-comments fa-fw"></i></f:case>
                    </f:switch>
                    <f:translate id="{key}" arguments="{0: numberOfEvents}" quantity="{numberOfEvents}"><span class="normal">{event} {key}</span></f:translate>
                </li>
            </f:for>
        </ul>
    </li>
</ul>