<f:form.validationResults for="{object}.password">
    <div class="form-group{f:if(condition: validationResults.flattenedErrors, then: ' has-error')}">
        <div class="input-icon right">
            <f:for each="{validationResults.errors}" as="error">
                <i data-container="body" data-original-title="{error}" class="fa fa-exclamation tooltips"></i>
            </f:for>
            <f:form.password id="{property}" property="{property}" placeholder="{label}" class="form-control {f:validation.ifHasErrors(for: 'registration.password', then: 'error')}" />
        </div>
    </div>
</f:form.validationResults>