{namespace snippets=Flowpack\Snippets\ViewHelpers}
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-4 col-sm-4 padding-top-10">
                Proudly powered by <a href="http://www.neos.typo3.org" target="_blank">TYPO3 Neos</a>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                {parts.metaMenu -> f:format.raw()}
            </div>
            <!-- END COPYRIGHT -->
            <!-- BEGIN SOCIAL LINKS -->
            {content.footer -> f:format.raw()}
            <!-- END SOCIAL LINKS -->
        </div>
    </div>
</div>
<!-- END FOOTER -->